IITA_CleanedTrialData_2022Aug24.rds
IITA_ExptDesignsDetected_2022Aug24.rds
IITA_blupsForModelTraining_twostage_asreml_2022Aug25.rds
AllChrom_RefPanelAndGSprogeny_ReadyForGP_2022Aug31.vcf.gz
pednames_Prune100_25_pt25.genome
